# package directories
node_modules
jspm_packages

# server directories
server/conf/settings.json
server/public/

# logs
*.log

# serverless directories
.serverless

# configuration for cognito in Amplify SDK
config.json

# misc
.DS_Store/