<!DOCTYPE html>
<html ng-app="loginApp">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>AWS and Angular Integration</title>

        <!-- angular -->
        <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
        <script type="text/javascript" src="vendors/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="vendors/angular-aria/angular-aria.min.js"></script>
        <script type="text/javascript" src="vendors/angular-messages/angular-messages.min.js"></script>
        <script type="text/javascript" src="vendors/angular-material/angular-material.min.js"></script>
        <script type="text/javascript" src="vendors/angular-material/angular-route.min.js"></script>



        <!-- Client -->
        <script type="text/javascript" src="scripts/client.js"></script>
    </head>

    <body layout="column">
        <!--<div ng-controller="LoginController">-->
            <!--{{ hello }}-->
        <!--</div>-->
        <!--View-->
        <main>
            <div>
                <md-content layout="row" layout-align="center center" class="loginContainer">
                    <form class="login-input" ng-submit="login.loginUser(user)">
                        <md-input-container>
                            <label for="email">E-Mail</label>
                            <input type="text" ng-model="user.email" />
                        </md-input-container>
                        <br>
                        <md-input-container>
                            <label for="password">Password</label>
                            <input type="password" ng-model="user.password" />
                        </md-input-container>
                        <div layout="row" layout-align="space-around center">
                            <md-button class="md-raised md-primary" type="submit" name="submit" value="Log In">Log In</md-button>
                        </div>
                    </form>
                </md-content>
                <div layout="row" layout-align="center">
                    <a ng-href="#forgotpw">Forgot Password</a>
                </div>
            </div>
        </main>
    </body>
</html>

