<!-- HEADER -->
<div layout="row" ng-controller="navBarController">
    <div layout="column" flex="5"></div>
    <div class="navBar" layout="column" flex="90">
        <div class="navBar" layout="row" layout-align="start end">
            <div class="navBarOptions" layout="row" flex="90" layout-align="end center" hide-md hide-sm hide-xs>
                <span class="navBarDivider">/</span>
                <a class="loginOption" href="#login">Login</a>
                <span class="navBarDivider">/</span>
            </div>
        </div>
    </div>
    <div layout="column" flex="5"></div>
</div>
